.project_section {
  padding: 5rem 10rem;
  margin-top: -10rem;
}

.cards_ctr {
  display: grid;
  gap: 20px;
  grid-auto-rows: minmax(0px, 1fr);
  grid-template-columns: repeat(2, minmax(50px, 1fr));
  height: min-content;
  justify-content: center;
  padding: 0px;
  position: relative;
  width: 100%;
}

/* Responsive Styles */
@media screen and (max-width: 1200px) {
  .project_section {
    padding: 5rem 6rem;
  }
}

@media screen and (max-width: 992px) {
  .project_section {
    padding: 4rem 4rem;
    margin-top: -8rem;
  }
}

@media screen and (max-width: 768px) {
  .project_section {
    padding: 3rem 2rem;
    margin-top: -6rem;
  }

  .cards_ctr {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}

@media screen and (max-width: 480px) {
  .project_section {
    padding: 2rem 1rem;
    margin-top: -10rem;
  }
}
