.booking_section{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.booking_card{
    position: relative;
    max-width: 1000px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 18px;
    padding: 3rem;
    gap: 20px;
    border: 1px solid var(--white-10);
}
.card_bg{
    position: absolute;
    z-index: -100;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}
.heading{
    text-align: center;
    font-size: 42px;
    font-weight: 400;
}
.heading span{
    color: var(--white-60);
}
.paragraph{
    text-align: center;
    max-width: 450px;
    color: var(--white-60);
}