.footer {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  background-image: url(../assets/footer_bg.avif);
  background-position: center center;
  background-size: cover;
  border-top: 1px solid var(--white-12);
  padding: 5rem 10rem;
}

.top {
  display: flex;
  justify-content: space-between;
}
.left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.logo {
  font-size: 18px;
  font-weight: 600;
}
.credit {
  width: 250px;
  opacity: 0.6;
}
.right {
  display: flex;
  gap: 5rem;
}
.input_ctr {
  padding: 5px;
  border: 1px solid var(--white-12);
  border-radius: 14px;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.input {
  background: none;
  border: none;
  border-radius: 7px;
  padding: 7px 10px;
  font-size: 14px;
  font-weight: 500;
  color: var(--white);
}

.primary_btn {
  position: relative;
  background: var(--primary);
  font-size: 14px;
  color: var(--white);
  padding: 12px 15px;
  font-weight: 400;
  border-radius: 10px;
  box-shadow: 0 0 20px var(--primary-50);
  transition: box-shadow 300ms ease-in-out;
  cursor: pointer;
}
.primary_btn:hover {
  box-shadow: 0 0 0 4px var(--primary-20), 0 0 20px 0 var(--primary),
    inset 0 0 5px var(--white);
}
.primary_btn::before {
  content: "";
  position: absolute;
  bottom: 0;
  /* left: 50%;
    transform: translateX(-50%); */
  left: 0;
  width: 100%;
  height: 10px;
  background: var(--primary);
  filter: blur(15px);
  z-index: -100;
}
