.nav_links li a {
  /* color: var(--white); */
  transition: all 300ms ease-in-out;
}
.nav_links_mob li a {
  /* color: var(--white); */
  transition: all 300ms ease-in-out;
}
.nav_links li a.active {
  color: var(--white);
  text-shadow: 0 0 1px var(--primary);
}
.nav_links_mob li a.active {
  color: var(--primary);
  text-shadow: 0 0 1px var(--primary);
}
.nav_links_mob.active {
  opacity: 1;
  transform: translateX(0);
}
.navbar.active {
  backdrop-filter: none;
}

.nav_links_mob li a {
  font-size: 18px;
}