.cta_btn {
  position: relative;
  background: var(--primary);
  font-size: 14px;
  color: var(--white);
  padding: 12px 15px;
  font-weight: 400;
  border-radius: 10px;
  transition: box-shadow 300ms ease-in-out;
}
.cta_btn:hover {
  box-shadow: 0 0 0 4px var(--primary-20), 0 0 20px var(--primary-50),
    inset 0 0 5px var(--white);
}
.cta_btn::before {
  content: "";
  position: absolute;
  bottom: 0;
  /* left: 50%;
  transform: translateX(-50%); */
  left: 0;
  width: 100%;
  height: 10px;
  background: var(--primary);
  filter: blur(15px);
  z-index: -100;
}
