.form_section {
  /* padding: 5rem 7rem; */
  position: relative;
  margin-top: -8rem;
  z-index: 50;
}
.container {
  min-height: 100vh;
  /* background-color: var(--black); */
  /* border: 1px solid var(--white-12); */
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  justify-content: center;
  align-items: flex-start;
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
  }
}

.formWrapper {
  background-color: var(--black);
  border: 1px solid var(--white-10);
  border-radius: 24px;
  padding: 10px;
  /* box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3); */
  flex: 1;
  max-width: 900px;
}

.successMessage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 1rem;
  gap: 1.5rem;
}
.checkIcon {
  width: 100px;
  height: 100px;
  color: #00ffae;
  filter: drop-shadow(0 0 25px #00ffae);
}
.sm_heading {
  font-size: 36px;
  font-weight: 500;
  text-align: center;
  line-height: 1.1;
}
.sm_paragraph {
  font-size: 22px;
  font-weight: 400;
  max-width: 320px;
  text-align: center;
  color: var(--white-60);
  line-height: 1.1;
}

.form {
  background: var(--black);
  border: 1px solid var(--white-10);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 50px;
  border-radius: 18px;
}

.row {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}

@media (min-width: 768px) {
  .row {
    grid-template-columns: 1fr 1fr;
  }
}

.fieldGroup {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 0.875rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.input,
.select,
.textarea {
  padding: 0.8rem 1rem;
  background-color: var(--input-bg);
  border: 1px solid var(--white-10);
  border-radius: 0.5rem;
  /* color: #fff; */
}

.input:focus,
.select:focus,
.textarea:focus {
  outline: none;
  border-color: var(--primary);
}
.select {
  appearance: none; /* Removes default arrow in some browsers */
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNmZmZmZmYiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1jaGV2cm9uLWRvd24taWNvbiBsdWNpZGUtY2hldnJvbi1kb3duIj48cGF0aCBkPSJtNiA5IDYgNiA2LTYiLz48L3N2Zz4=");
  background-repeat: no-repeat;
  background-position: right 1rem center;
  background-size: 1.2rem;
}
.select option {
  background-color: var(--black);
  color: var(--white);
}

.submitButton {
  position: relative;
  background: var(--primary);
  font-size: 16px;
  color: var(--white);
  padding: 15px;
  font-weight: 500;
  border-radius: 10px;
  transition: box-shadow 300ms ease-in-out;
  cursor: pointer;
}
.submitButton:hover {
  box-shadow: 0 0 0 4px var(--primary-20), 0 0 20px var(--primary-50),
    inset 0 0 5px var(--white);
}
.submitButton::before {
  content: "";
  position: absolute;
  bottom: 0;
  /* left: 50%;
  transform: translateX(-50%); */
  left: 0;
  width: 100%;
  height: 10px;
  background: var(--primary);
  filter: blur(20px);
  /* z-index: -100; */
}

.contactInfo {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-size: 0.875rem;
}

.infoBox_ctr {
  background-color: var(--black);
  border: 1px solid var(--white-10);
  border-radius: 24px;
  padding: 10px;
}
.infoBox {
  background-color: var(--black);
  border: 1px solid var(--white-10);
  border-radius: 18px;
  padding: 2rem 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.infoTitle {
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.badge {
  background-color: var(--primary);
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
  border-radius: 7px;
}

.infoText {
  margin-top: 0.5rem;
  color: var(--white-60);
}
.infoText:hover {
  color: var(--primary);
}

@media (max-width: 1100px) {
  .container {
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
  }
  .formWrapper {
    max-width: 100%;
    width: 100%;
    flex: none;
  }
  .contactInfo {
    align-content: unset;
    align-items: unset;
    display: grid;
    flex: 0 0 auto;
    grid-auto-rows: min-content;
    grid-template-columns: repeat(2, minmax(50px, 1fr));
    grid-template-rows: repeat(2, min-content);
    max-width: unset;
    width: 100%;
  }
  .infoBox_ctr {
    width: 100%;
  }
}
@media (max-width: 800px) {
  .contactInfo {
    display: flex;
    flex-flow: column;
    gap: 24px;
    height: min-content;
    overflow: hidden;
    padding: 0px;
    position: relative;
    flex: 0 0 auto;
    max-width: unset;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .form {
    padding: 30px;
  }
}
@media (max-width: 550px) {
  .sm_heading {
    font-size: 28px;
  }
  .sm_paragraph {
    font-size: 18px;
    max-width: 280px;
  }
}
@media (max-width: 500px) {
  .container {
    padding: 1rem;
  }
  .form {
    padding: 30px 20px;
  }
}
@media (max-width: 375px) {
  .container {
    padding: 0.5rem;
  }
  .formWrapper {
    padding: 7px;
  }
  .form {
    padding: 30px 15px;
  }
}
