.gallary_section {
  width: 100%;
  margin: 10rem 0;
}
.top,
.bottom {
  display: flex;
  width: 100%;

  padding: 10px;
}
.image_slide_ctr {
  display: flex;
  gap: 12px;
  overflow-y: hidden;
  overflow-x: scroll;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    rgb(0, 0, 0) 17.5%,
    rgb(0, 0, 0) 82.5%,
    rgba(0, 0, 0, 0) 100%
  );
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.image_slide_ctr::-webkit-scrollbar {
  display: none;
}
.bottom .image_slide_ctr {
  /* transform: translateX(-500px); */
}

@media (max-width: 768px) {
  .bottom {
    display: none;
  }
}
