.landing_section {
  display: flex;
  padding: 5rem 10rem;
  padding-top: 8rem;
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  align-items: center;
  justify-content: space-between;
}
.landing_bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
  width: 100%;
  /* object-fit: contain; */
  object-position: center -100px;
  filter: blur(10px);
}
.c1,
.c2 {
  flex: 1;
}
.c2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.c1 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
}
.cta_ctr {
  display: flex;
  gap: 20px;
}
.heading {
  font-size: 54px;
  max-width: 560px;
  font-weight: 400;
  /* background-color: red; */
}
.paragraph {
  font-size: 14px;
  max-width: 440px;
  color: var(--white-60);
}
.img_ctr {
  position: relative;
  height: auto;
  width: 80%;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero_image {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  border-radius: 22px;
  border: 1px solid var(--white-12);
}
.img_ctr::before {
  content: "";
  position: absolute;
  --pad_space: -10px;
  top: var(--pad_space);
  left: var(--pad_space);
  right: var(--pad_space);
  bottom: var(--pad_space);
  background: var(--white-01);
  border-radius: 26px;
  border: 1px solid var(--white-12);
}
.img_ctr::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 40%;
  height: 1px;
  background: linear-gradient(
    90deg,
    rgba(0, 81, 255, 0) 0%,
    #0051ff 50%,
    rgba(0, 81, 255, 0) 100%
  );
}
.blur {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  /* height: 30px; */
  border-radius: 100%;
  background: var(--primary);
  filter: blur(50px);
  z-index: -50;
  animation: blue-animation 5s infinite ease;
}
@keyframes blue-animation {
  0%{
    height: 50px;
  }
  50%{
    height: 30px;
  }
  100%{
    height: 50px;
  }
}
.primary_btn {
  background: var(--white);
  font-size: 16px;
  color: var(--black);
  padding: 10px 15px;
  font-weight: 600;
  border-radius: 10px;
  transition: filter 300ms ease-in-out;
}
.primary_btn:hover {
  filter: brightness(0.8);
}
.secondary_btn {
  background: rgba(255, 255, 255, 0.2);
  font-size: 16px;
  color: var(--white);
  padding: 10px 15px;
  font-weight: 500;
  border-radius: 10px;
  transition: filter 300ms ease-in-out;
}
.secondary_btn:hover {
  filter: brightness(0.8);
}
.logo_ctr {
  margin-top: 2rem;
  /* width: 100%; */
  max-width: 400px;
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    rgb(0, 0, 0) 30%,
    rgb(0, 0, 0) 70%,
    rgba(0, 0, 0, 0) 100%
  );
}
.slider {
  display: flex;
  gap: 55px;
  width: 100%;
}
.slider_item {
  width: 500%;
  animation: leadsAnimation 60s linear infinite;
}
@keyframes leadsAnimation {
  to {
    transform: translateX(calc(-100% - 55px));
  }
}
