@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg: #000000;
  --black: #080808;
  --black-10: rgba(7, 7, 7, 0.1);
  --black-20: rgba(7, 7, 7, 0.2);
  --black-50: rgba(7, 7, 7, 0.5);
  --black-75: rgba(7, 7, 7, 0.75);
  --black-80: rgba(7, 7, 7, 0.8);
  --white: #ffffff;
  --white-01: rgba(255, 255, 255, 0.01);
  --white-05: rgba(255, 255, 255, 0.05);
  --white-07: rgba(255, 255, 255, 0.07);
  --white-10: rgba(255, 255, 255, 0.1);
  --white-12: rgba(255, 255, 255, 0.12);
  --white-15: rgba(255, 255, 255, 0.15);
  --white-20: rgba(255, 255, 255, 0.2);
  --white-22: rgba(255, 255, 255, 0.22);
  --white-60: rgba(255, 255, 255, 0.6);
  --primary: #0051ff;
  --primary-80: rgb(0, 81, 255, 0.8);
  --primary-70: rgb(0, 81, 255, 0.7);
  --primary-50: rgb(0, 81, 255, 0.5);
  --primary-20: rgb(0, 81, 255, 0.2);
  --primary-10: rgb(0, 81, 255, 0.1);
  --input-bg: rgba(51, 51, 51, 0.2);
  --h1-fs: 32px;
  --h2-fs: 22px;
  --link-fs: 14px;
  --button-fs: 14px;
  --p-fs: 14px;
  --bullet-fs: 12px;
  --txt-fs: 12px;
  --misc-fs: 42px;
  --contact-fs: 18px;
  --contact-email-fs: 24px;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

body {
  background-color: var(--bg);
  overflow-x: hidden;
  color: var(--white);
  font-family: "DM Sans", sans-serif;

  font-size: 14px;
  scroll-behavior: smooth;
}
h1,
h2,
h3,
h4 {
  font-family: "DM Sans", sans-serif;
}
a {
  text-decoration: none;
  color: var(--white);
}
li {
  list-style: none;
}
img {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
button {
  background: none;
  color: var(--white);
  border: none;
  font-family: "DM Sans", sans-serif;
}
textarea,
input,
select {
  font-family: "DM Sans", sans-serif;
  color: var(--white);
}
.italic {
  font-style: italic;
}
.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  position: relative;
  flex: 0 0 100%;
  min-width: 0;
  overflow: hidden;
  border-radius: 16px;
  /* width: 100%;
  height: 100%;
  background-color: red; */
}
.embla__slide__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.embla__slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 0.8) 100%
  );
}
.reg-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  
  padding: 7px 14px;
  background-color: rgb(255, 0, 30);
  color: var(--white);
  border-radius: 8px;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  animation: blink 0.5s infinite alternate;
}

@keyframes blink {
  0% {
    background-color: rgb(255, 56, 79);
  }
  100% {
    background-color: rgb(255, 0, 30);
  }
}

.reg-btn:hover {
  box-shadow: inset 0 0 5px rgb(255, 255, 255, 0.5),
    inset 0 0 20px rgb(255, 255, 255, 0.2);
}
.form-option {
  background: #131313;
  border-radius: 5px;
}
