@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg: #000000;
  --black: #070707;
  --black-10: rgba(7, 7, 7, 0.1);
  --black-20: rgba(7, 7, 7, 0.2);
  --black-50: rgba(7, 7, 7, 0.5);
  --black-75: rgba(7, 7, 7, 0.75);
  --black-80: rgba(7, 7, 7, 0.8);
  --white: #ffffff;
  --white-01: rgba(255, 255, 255, 0.01);
  --white-05: rgba(255, 255, 255, 0.05);
  --white-10: rgba(255, 255, 255, 0.1);
  --white-12: rgba(255, 255, 255, 0.12);
  --white-20: rgba(255, 255, 255, 0.2);
  --white-22: rgba(255, 255, 255, 0.22);
  --white-60: rgba(255, 255, 255, 0.6);
  --primary: #0051ff;
  --primary-80: rgb(0, 81, 255, 0.8);
  --primary-70: rgb(0, 81, 255, 0.7);
  --primary-50: rgb(0, 81, 255, 0.5);
  --primary-20: rgb(0, 81, 255, 0.2);
  --primary-10: rgb(0, 81, 255, 0.1);
  --h1-fs: 32px;
  --h2-fs: 22px;
  --link-fs: 14px;
  --button-fs: 14px;
  --p-fs: 14px;
  --bullet-fs: 12px;
  --txt-fs: 12px;
  --misc-fs: 42px;
  --contact-fs: 18px;
  --contact-email-fs: 24px;
}

body {
  background-color: var(--bg);
  overflow-x: hidden;
  color: var(--white);
  font-family: "DM Sans", sans-serif;

  font-size: 14px;
  scroll-behavior: smooth;
}
h1,
h2,
h3,
h4 {
  font-family: "DM Sans", sans-serif;
}
a {
  text-decoration: none;
  color: var(--white);
}
li {
  list-style: none;
}
img {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
button {
  background: none;
  color: var(--white);
  border: none;
  font-family: "DM Sans", sans-serif;
}
input {
  font-family: "DM Sans", sans-serif;
}
.italic {
  font-style: italic;
}
